<a href="https://colab.research.google.com/github/wonyj0228/python_start/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%ACday3_%EB%B3%B5%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
#1번
id = input('ID를 입력하세요 : ')
name = input('이름을 입력하세요 : ')
if id == 'root'and name == '홍길동':
  print('ID가', id, '인',name,'님이 로그인되었습니다.')
else:
  print('ID 또는 이름이 잘못되었습니다.')

ID를 입력하세요 : wonyj0228
이름을 입력하세요 : 원예진
ID 또는 이름이 잘못되었습니다.

In [8]:
#2번
n1 = int(input('숫자1을 입력하세요 : '))
n2 = int(input('숫자2을 입력하세요 : '))
print('두 수의 합은',n1+n2)
print('두 수의 차는',n1-n2)
print('두 수의 곱은',n1*n2)
print('두 수의 나눗셈은',n1/n2)
print('두 수를 나누고 나서의 나머지는',n1%n2)

숫자1을 입력하세요 : 33
숫자2을 입력하세요 : 7
두 수의 합은 40
두 수의 차는 26
두 수의 곱은 231
두 수의 나눗셈은 4.714285714285714
두 수를 나누고 나서의 나머지는 5

In [10]:
#3
name = input('이름을 입력하세요 : ')
age = int(input('나이를 입력하세요 : '))
print(name,'님의 10년 후의 나이는', age+10,'세입니다.')

이름을 입력하세요 : 원예진
나이를 입력하세요 : 25
원예진 님의 10년 후의 나이는 35 세입니다.

In [14]:
#4
money = int(input('엄마 용돈주세요 : '))
if money == 10000:
  print('감사합니다~!')
elif money < 10000:
  print('엄마 용돈이 너무 적어요.')
else :
  print('엄마 용돈이 너무 많아요.')

엄마 용돈주세요 : 10000
감사합니다~!

In [15]:
#5
number = int(input('숫자를 입력하세요. 짝수인지 홀수인지 판별해 드립니다. : '))
if number % 2 == 0:
  print('짝수입니다')
else:
  print('홀수입니다')

숫자를 입력하세요. 짝수인지 홀수인지 판별해 드립니다. : 845465478
짝수입니다

In [19]:
#6
target = 1000
bonus = 0.2
now = int(input('당신의 실적을 입력하세요 : '))
if now > 1000:
  print('축하합니다. 실적을 달성하셨습니다.!')
  print('당신의 이번달 보너스는', int(now*bonus),'만원입니다.')
else:
  print('목표실적을 달성하지 못했습니다.')

당신의 실적을 입력하세요 : 1500
축하합니다. 실적을 달성하셨습니다.!
당신의 이번달 보너스는 300 만원입니다.

In [22]:
#7
m_name = input('미사일 이름을 입력하세요 : ')
m_start = int(input('미사일의 시작값을 입력하세요 : '))
m_move = float(input('미사일이 움직일 값을 입력하세요 : '))
print('----------------')
print('m_name','미사일이',m_start+m_move,'로 이동되었습니다.')

미사일 이름을 입력하세요 : 슛
미사일의 시작값을 입력하세요 : 200
미사일이 움직일 값을 입력하세요 : -10.5
----------------
m_name 미사일이 189.5 로 이동되었습니다.

In [30]:
#8
money = int(input('받은돈 : '))
price = int(input('상품의 총액 : '))
tax = int(price*0.1)
return_money = int(money-price)
print('------------')
print('받은 돈 : ',money)
print('상품의 총액 : ', price)
print('부가세 : ', tax)
print('잔돈 : ', return_money)

받은돈 : 10000
상품의 총액 : 7500
------------
받은 돈 :  10000
상품의 총액 :  7500
부가세 :  750
잔돈 :  2500

In [35]:
#9
for _ in range(1000):
  print('*', end='')

****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************

In [41]:
#10
for i in range(1,21):
  print(i)
for i in range(1,21):
  print(i,end=' ')

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [44]:
#11
for i in range(1,51):
  if i % 2 == 0:
    print(i, end=' ')

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50

In [45]:
#12
count = 0
for i in range(1,1001):
  if i % 3 ==0:
    count = count+1
print(count)

333

In [47]:
#13
while True:
  food = input('먹고 싶은 음식 입력 : ')
  if food == 'x':
    print('------------')
    print('입력을 종료합니다.')
    break

먹고 싶은 음식 입력 : 고구마
먹고 싶은 음식 입력 : 감자
먹고 싶은 음식 입력 : 양파
먹고 싶은 음식 입력 : x
------------
입력을 종료합니다.

In [58]:
#14
list = ['떡볶이','순대','튀김','만두','어묵']
print(list[0],list[len(list)-1])
print(list[2])
print(list[2:5])

떡볶이 어묵
튀김
['튀김', '만두', '어묵']

In [61]:
#15
list =[]
for _ in range(4):
  company = input('회사 이름을 입력하세요 : ')
  list.append(company)
print(list)

회사 이름을 입력하세요 : 네이버
회사 이름을 입력하세요 : 카카오
회사 이름을 입력하세요 : 구글
회사 이름을 입력하세요 : 링크드인
['네이버', '카카오', '구글', '링크드인']

In [62]:
#16
list = []
sum = 0

for _ in range(3):
  score = int(input('학기 총점 : '))
  list.append(score)
  sum = sum + score

print('----------')
print('총 학기 평균은',sum/3,'점입니다.')

학기 총점 : 100
학기 총점 : 88
학기 총점 : 99
----------
총 학기 평균은 95.66666666666667 점입니다.

In [64]:
#17
answer = '77'
while True:
  number = input('숫자를 맞춰보세요 : ')
  if number == answer:
    print('정답입니다.')
    break
  else :
    print('정답이 아닙니다. 다시 해보세요.')

숫자를 맞춰보세요 : 99
정답이 아닙니다. 다시 해보세요.
숫자를 맞춰보세요 : 8
정답이 아닙니다. 다시 해보세요.
숫자를 맞춰보세요 : 77
정답입니다.

In [66]:
#18
print('은행 시스템입니다.')
money = int(input('입금액 : '))
rate = float(input('이자율 : '))
future_money = money+money*rate
print('----------')

print('1년 후 받게 될 금액은 :',int(future_money),'원')

은행 시스템입니다.
입금액 : 10000
이자율 : 0.2
----------
1년 후 받게 될 금액은 : 12000 원

In [72]:
#20
list = []

for _ in range(5):
  site = input('가장 좋아하는 장소를 입력하세요 : ')
  list.append(site)
print(list)
del list[2]
print(list)
list[3] = '제주시'
print(list)

for index in range(0,len(list)):
  print(index+1,list[index])  
#index 초기값은 0

가장 좋아하는 장소를 입력하세요 : 여의도
가장 좋아하는 장소를 입력하세요 : 신촌
가장 좋아하는 장소를 입력하세요 : 강남
가장 좋아하는 장소를 입력하세요 : 속초
가장 좋아하는 장소를 입력하세요 : 제주도
['여의도', '신촌', '강남', '속초', '제주도']
['여의도', '신촌', '속초', '제주도']
['여의도', '신촌', '속초', '제주시']
1 여의도
2 신촌
3 속초
4 제주시